<launch>

    <!-- CHANGE PACKGE NAME HERE -->
    <arg name="package_name" value="user_interface_GUI"/>
    <arg name="package_path" value="$(find user_interface_GUI)"/>


    <!--RQT Node -->
    <node name="rqt_user_interface" pkg="rqt_gui" type="rqt_gui"
          args="--perspective-file $(find user_interface_GUI)/rqt/user_rqt.perspective"/>


</launch>